@import '../../../styles/imports';

.container {
	display: flex;
	padding: 16px;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
	max-width: 1080px;
	//background-color: red;
	background-color: #f9f9f9;
	margin: 0 auto;
	@include desktop {
		padding: 64px 16px;
		padding-top: 32px;
	}
}

.landing {
	display: flex;
	padding: 16px;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
	max-width: 1080px;
	//background-color: red;
	margin: 0 auto;
	@include desktop {
		padding: 64px 16px;
		padding-top: 32px;
	}
}

.auth {
	display: flex;
	flex: 1;
	min-height: 100vh;
}
