@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.fluid {
  padding-right: 16px;
  padding-left: 16px;
}

.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shadow {
  -webkit-box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
          box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
}

.curved {
  border-radius: 4px;
}

.rounded {
  border-radius: 8px;
}

.round {
  border-radius: 30px;
}

.alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justifyCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justifyStart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justifyEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button, .disabled, .loading, .secondary, .textButton, .outlined {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0.25rem 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button p, .disabled p, .loading p, .secondary p, .textButton p, .outlined p {
  font-size: 0.9rem;
}

.button img, .disabled img, .loading img, .secondary img, .textButton img, .outlined img {
  width: 22px;
  height: 22px;
  margin-right: 4px;
  -o-object-fit: contain;
     object-fit: contain;
}

.button, .disabled, .loading, .secondary, .textButton, .outlined {
  background-color: #03989e;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #03989e;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1008px) {
  .button:hover, .disabled:hover, .loading:hover, .secondary:hover, .textButton:hover, .outlined:hover {
    background-color: #02686c;
  }
}

.button:active, .disabled:active, .loading:active, .secondary:active, .textButton:active, .outlined:active {
  background-color: #04c8d0;
}

.button {
  letter-spacing: 0.2px;
  font-weight: 700;
}

.button p {
  color: whitesmoke;
}

.small {
  height: 36px;
}

.small p {
  font-size: 0.8rem;
}

.disabled {
  cursor: not-allowed;
  letter-spacing: 0.2px;
  font-weight: 700;
  background-color: #bcbcbc;
  border: 1px solid #bcbcbc;
  color: #424242;
}

@media (min-width: 1008px) {
  .disabled:hover {
    background-color: #bcbcbc;
  }
}

.disabled:active {
  background-color: #bcbcbc;
}

.loading {
  cursor: not-allowed;
  letter-spacing: 0.2px;
  font-weight: 700;
  background-color: #02686c;
  border: none;
  color: #424242;
}

@media (min-width: 1008px) {
  .loading:hover {
    background-color: #02686c;
  }
}

.loading:active {
  background-color: #02686c;
}

.secondary {
  background-color: #eee;
  color: dodgerblue;
  letter-spacing: 0.2px;
  font-weight: 700;
  border: 1px solid #eee;
}

@media (min-width: 1008px) {
  .secondary:hover {
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5;
  }
}

.secondary:active {
  background-color: white;
  border: 1px solid white;
}

.colorPrimary {
  color: #03989e;
}

.textButton {
  background-color: transparent;
  color: #1e90ff;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
}

.textButton:hover {
  border: none;
  background-color: transparent;
}

.textButton p {
  font-weight: 600;
}

.textButton:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.outlined {
  background-color: transparent;
  color: #03989e;
  border: 1px solid #03989e;
}

.outlined p {
  font-weight: 600;
}

@media (min-width: 1008px) {
  .outlined:hover {
    background-color: rgba(3, 152, 158, 0.09);
  }
}

.outlined:active {
  background-color: rgba(3, 152, 158, 0.3);
}

.round {
  border-radius: 30px;
}

.fill {
  width: 100%;
}
/*# sourceMappingURL=Button.module.css.map */