@import '../../../styles/imports';

.container {
	display: flex;
	flex-direction: column;
	//background-color: teal;
	flex: 1;
	width: 100%;
	margin: 64px 0;

	.title {
		align-items: center;
		margin: 0.5rem;
		width: 100%;

		h5 {
			font-size: 1.25rem;
			font-weight: 600;
			text-align: center;
		}
	}

	@include desktop {
		.title {
			h5 {
				font-size: 2rem;
			}
		}
	}
}
