.ma-2 {
	margin: 2px 2px;
}
.ma-4 {
	margin: 4px 4px;
}
.ma-8 {
	margin: 8px 8px;
}
.ma-12 {
	margin: 12px 12px;
}
.ma-16 {
	margin: 16px 16px;
}
.ma-24 {
	margin: 24px 24px;
}
.ma-32 {
	margin: 32px 32px;
}
.ma-44 {
	margin: 44px 44px;
}
.ma-50 {
	margin: 50px 50px;
}
.ma-64 {
	margin: 64px 64px;
}

.ma-128 {
	margin: 128px 128px;
}
