.mv-2 {
	margin-top: 2px;
	margin-bottom: 2px;
}
.mv-4 {
	margin-top: 4px;
	margin-bottom: 2px;
}
.mv-8 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.mv-12 {
	margin-top: 12px;
	margin-bottom: 12px;
}
.mv-16 {
	margin-top: 16px;
	margin-bottom: 16px;
}
.mv-24 {
	margin-top: 24px;
	margin-bottom: 24px;
}
.mv-32 {
	margin-top: 32px;
	margin-bottom: 32px;
}
.mv-44 {
	margin-top: 44px;
	margin-bottom: 44px;
}
.mv-50 {
	margin-top: 50px;
	margin-bottom: 50px;
}
.mv-64 {
	margin-top: 64px;
	margin-bottom: 64px;
}

.mv-128 {
	margin-top: 128px;
	margin-bottom: 128px;
}
