.ml-2 {
	margin-left: 2px;
}
.ml-4 {
	margin-left: 4px;
}
.ml-8 {
	margin-left: 8px;
}
.ml-12 {
	margin-left: 12px;
}
.ml-16 {
	margin-left: 16px;
}
.ml-24 {
	margin-left: 24px;
}
.ml-32 {
	margin-left: 32px;
}
.ml-44 {
	margin-left: 44px;
}
.ml-50 {
	margin-left: 50px;
}
.ml-64 {
	margin-left: 64px;
}

.ml-128 {
	margin-left: 128px;
}
