.mr-2 {
	margin-right: 2px;
}
.mr-4 {
	margin-right: 4px;
}
.mr-8 {
	margin-right: 8px;
}
.mr-12 {
	margin-right: 12px;
}
.mr-16 {
	margin-right: 16px;
}
.mr-24 {
	margin-right: 24px;
}
.mr-32 {
	margin-right: 32px;
}
.mr-44 {
	margin-right: 44px;
}
.mr-50 {
	margin-right: 50px;
}
.mr-64 {
	margin-right: 64px;
}

.mr-128 {
	margin-right: 128px;
}
