.mt-2 {
	margin-top: 2px;
}
.mt-4 {
	margin-top: 4px;
}
.mt-8 {
	margin-top: 8px;
}
.mt-12 {
	margin-top: 12px;
}
.mt-16 {
	margin-top: 16px;
}
.mt-24 {
	margin-top: 24px;
}
.mt-32 {
	margin-top: 32px;
}
.mt-44 {
	margin-top: 44px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-64 {
	margin-top: 64px;
}

.mt-128 {
	margin-top: 128px;
}
