.mh-2 {
	margin-left: 2px;
	margin-right: 2px;
}
.mh-4 {
	margin-left: 4px;
	margin-right: 2px;
}
.mh-8 {
	margin-left: 8px;
	margin-right: 8px;
}
.mh-12 {
	margin-left: 12px;
	margin-right: 12px;
}
.mh-16 {
	margin-left: 16px;
	margin-right: 16px;
}
.mh-24 {
	margin-left: 24px;
	margin-right: 24px;
}
.mh-32 {
	margin-left: 32px;
	margin-right: 32px;
}
.mh-44 {
	margin-left: 44px;
	margin-right: 44px;
}
.mh-50 {
	margin-left: 50px;
	margin-right: 50px;
}
.mh-64 {
	margin-left: 64px;
	margin-right: 64px;
}

.mh-128 {
	margin-left: 128px;
	margin-right: 128px;
}
