@import '../../../styles/imports';

.container {
	margin: 16px 0;
	width: 100%;

	@include desktop {
		margin: 16px 0;
		width: 65%;
		margin-bottom: 32px;
	}
	.details {
		display: flex;
		align-items: center;
		margin: 8px 0;

		.image {
			img {
				height: 4rem;
				width: 4rem;
				object-fit: contain;
				border-radius: 999px;
			}
			margin-right: 16px;
		}
		.text {
			.stars {
				display: flex;
				gap: 2px;
				margin-bottom: 8px;
				img {
					width: 8px;
					height: auto;
					object-fit: contain;
				}
			}
			.user {
				p {
					font-size: 0.9rem;
					color: $color-primary;
					font-weight: 600;
				}
				h6 {
					font-size: 1.05rem;
					font-weight: 600;
					line-height: 1.2;
				}
			}
		}
	}
	.review {
		.date {
			p {
				font-size: 0.65rem;
				color: #b2b1b1;
				font-weight: 700;
			}
		}
		p {
			font-size: 0.9rem;
			font-weight: 400;
		}
		.comments {
			display: flex;
			justify-content: flex-end;
			margin: 1rem;
			a {
				color: dodgerblue;
				font-size: 0.9rem;
				font-weight: 600;
			}
		}
	}
}
