@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.fluid {
  padding-right: 16px;
  padding-left: 16px;
}

.horizontal {
  flex-direction: row;
}

.shadow {
  box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
}

.curved {
  border-radius: 4px;
}

.rounded {
  border-radius: 8px;
}

.round {
  border-radius: 30px;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.container {
  margin: 16px 0;
  width: 100%;
}
@media (min-width: 1008px) {
  .container {
    margin: 16px 0;
    width: 65%;
    margin-bottom: 32px;
  }
}
.container .details {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.container .details .image {
  margin-right: 16px;
}
.container .details .image img {
  height: 4rem;
  width: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 999px;
}
.container .details .text .stars {
  display: flex;
  gap: 2px;
  margin-bottom: 8px;
}
.container .details .text .stars img {
  width: 8px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .review .date p {
  font-size: 0.65rem;
  color: #b2b1b1;
  font-weight: 700;
}
.container .review p {
  font-size: 0.9rem;
  font-weight: 400;
}

.user p {
  font-size: 0.9rem;
  color: #03989e;
  font-weight: 600;
}
.user h6 {
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.2;
}

.usr p {
  font-size: 0.65rem;
  color: #b2b1b1;
  font-weight: 700;
}
.usr .date {
  font-size: 0.65rem;
  color: #b2b1b1;
  font-weight: 700;
}
.usr h6 {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
}

.comments {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}
.comments a {
  color: #03989e;
  font-size: 0.9rem;
  font-weight: 600;
}

.replies {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 16px;
  width: 100%;
  margin: 1rem 0;
  border: 0.2px solid rgba(136, 136, 136, 0.5);
  border-radius: 10px;
  margin-bottom: 2rem;
}
@media (min-width: 1008px) {
  .replies {
    width: 95%;
    margin-left: 5%;
    padding: 24px;
    margin-bottom: 4rem;
  }
}
.replies h5 {
  margin-bottom: 1rem;
}
.replies .reply {
  margin-bottom: 16px;
  width: 100%;
}
@media (min-width: 1008px) {
  .replies .reply {
    width: 70%;
  }
}
.replies .reply .details {
  display: flex;
  align-items: flex-start;
  margin-right: 16px;
}
.replies .reply .details .image img {
  height: 2rem;
  width: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 999px;
}
@media (min-width: 1008px) {
  .replies .reply .details .image img {
    height: 3rem;
    width: 3rem;
  }
}
.replies .reply .details .text p {
  color: #424242;
  font-size: 0.9rem;
  font-weight: 400;
}
.replies .more {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
@media (min-width: 1008px) {
  .replies .more {
    margin-top: 1rem;
  }
}
.replies .more a {
  padding: 16px;
  color: #03989e;
  font-size: 0.9rem;
  font-weight: 700;
}/*# sourceMappingURL=Review.module.css.map */