@import '../../../styles/imports';

.container {
	margin: 16px 0;
	width: 100%;
	border-bottom: 1px solid rgba($color-primary, 0.1);
	padding-bottom: 16px;

	@include desktop {
		margin: 16px 0;
		width: 65%;
		margin-bottom: 32px;
	}
	.details {
		display: flex;
		align-items: flex-start;
		margin: 8px 0;
		.image {
			img {
				height: 4rem;
				width: 4rem;
				border-radius: 99px;
				object-fit: cover;
			}
			margin-right: 16px;
		}
		.text {
			.stars {
				display: flex;
				gap: 2px;
				margin-bottom: 8px;
				img {
					width: 8px;
					height: auto;
					object-fit: contain;
				}
			}
		}
	}
	.review {
		a {
			font-weight: 700;
			margin-left: 6px;
			@include hover {
				color: #424242;
			}
		}
		.date {
			p {
				font-size: 0.75rem;
				color: #aaa;
				font-weight: 500;
			}
		}
		p {
			font-size: 0.95rem;
			font-weight: 500;
			line-height: 1.5;
			margin: 0.5rem 0;
		}
	}
}

.user {
	p {
		font-size: 0.9rem;
		color: $color-primary;
		font-weight: 600;
		cursor: pointer;
		@include hover {
			text-decoration-line: underline;
		}
	}

	h6 {
		font-size: 1.05rem;
		font-weight: 500;
		line-height: 1.2;
	}
}

.profile {
	p {
		font-size: 0.9rem;
		color: #424242;
		font-weight: 800;
		cursor: pointer;
		@include hover {
			text-decoration-line: underline;
		}
	}

	h6 {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.2;
	}
}

.usr {
	p {
		font-size: 0.65rem;
		color: #b2b1b1;
		font-weight: 700;
	}
	.date {
		font-size: 0.65rem;
		color: #b2b1b1;
		font-weight: 700;
	}
	h6 {
		font-size: 0.9rem;
		font-weight: 600;
		line-height: 1;
		cursor: pointer;
		@include hover {
			text-decoration-line: underline;
		}
	}
}

.comments {
	display: flex;
	justify-content: flex-end;
	margin: 1rem;
	a {
		color: $color-primary;
		font-size: 0.9rem;
		font-weight: 600;
	}
}

.replies {
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	padding: 16px;
	width: 100%;
	margin: 1rem 0;
	border: 0.2px solid rgba(#888, 0.5);
	border-radius: 10px;
	margin-bottom: 2rem;

	@include desktop {
		width: 95%;
		margin-left: 5%;
		padding: 24px;
		margin-bottom: 4rem;
	}
	h5 {
		margin-bottom: 1rem;
	}
	.reply {
		margin-bottom: 16px;
		width: 100%;
		@include desktop {
			width: 70%;
		}

		.details {
			display: flex;
			align-items: flex-start;
			.image {
				img {
					height: 2rem;
					width: 2rem;
					object-fit: contain;
					border-radius: 999px;
					@include desktop {
						height: 3rem;
						width: 3rem;
					}
				}
			}

			.text {
				p {
					color: #424242;
					font-size: 0.9rem;
					font-weight: 400;
				}
			}
			margin-right: 16px;
		}
	}
	.more {
		display: flex;
		justify-content: center;
		margin-top: 0;
		@include desktop {
			margin-top: 1rem;
		}
		a {
			padding: 16px;
			color: $color-primary;
			font-size: 0.9rem;
			font-weight: 700;
		}
	}
}

.writeReview {
}

.replyPlaceholder {
	margin: 0.5rem 0;
	padding: 0.5rem;
	background-color: white;
	@include desktop {
		width: 50%;
	}
}
