@import '../../../styles/imports';

.container {
	display: flex;
	margin: 1rem 1rem;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;
	@include desktop {
		justify-content: flex-start;
		gap: 2rem;
	}
	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		text-align: center;

		.image {
			img {
				height: 48px;
				width: 48px;
				object-fit: contain;
				border-radius: 99px;
			}
		}
		.text {
			h6 {
				font-size: 0.7rem;
				font-weight: 600;
			}
		}
	}
}
