@import '../../../styles/imports';

$border: 1px solid rgba(#aeaeae, 0.2);
$box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 16px;
	margin: 32px 0;

	@include tab {
		flex-direction: row;
		justify-content: space-evenly;
	}
}

.listingcard {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-start;
	box-shadow: $box-shadow;

	min-width: 300px;
	border: $border;
	border-radius: 2px;
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	@include desktop {
		//min-width: 300px;
		min-width: 330px;
		max-width: 330px;
	}
}

.cardTitle {
	display: flex;
	flex-direction: column;
	width: 100%;
	h6 {
		text-transform: capitalize;
	}
}

.cardImage {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;

	img {
		width: 280px;
		height: 180px;
		object-fit: cover;
	}
}

.rating {
	display: flex;
	gap: 2px;
	img {
		width: 16px;
		height: auto;
		object-fit: contain;
	}
}

.cardSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 8px 24px;
}

.horizontal {
	flex-direction: row;
}

.bottomButton {
	padding: 0;
	margin-top: 24px;
	margin-bottom: auto;
	flex-grow: 1;
	width: 100%;
	display: flex;
	align-items: flex-end;

	.btn {
		cursor: pointer;
		display: flex;
		background-color: white;
		flex-direction: column;
		width: 100%;
		border-top: $border;
		justify-content: center;
		align-items: center;
		min-height: 42px;
		transition: 0.2s;
		&:hover {
			@include desktop {
				background-color: whitesmoke;
			}
		}
		p {
			font-weight: 600;
		}
	}
}
