@import '../../../styles/imports';

$border: 1px solid rgba(#aeaeae, 0.5);

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 16px;
	margin: 32px 0;

	@include tab {
		flex-direction: row;
		justify-content: space-evenly;
	}
}

.listingcard {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-start;

	min-width: 300px;
	border: $border;
	border-radius: 2px;
	max-width: 100%;
	box-sizing: border-box;
	max-width: 400px;
	margin: 0 auto;
	@include desktop {
		//min-width: 300px;
		min-width: 330px;
		max-width: 330px;
	}
}

.cardTitle {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cardImage {
	display: flex;
	width: 100%;

	img {
		width: 100%;
		max-height: 180px;
		height: auto;
		object-fit: cover;
	}
}

.rating {
	display: flex;
	gap: 2px;
	img {
		width: 16px;
		height: auto;
		object-fit: contain;
	}
}

.cardSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 8px 24px;
}

.horizontal {
	flex-direction: row;
}

.bottomButton {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-top: $border;
	justify-content: center;
	align-items: center;
	min-height: 42px;
	//max-height: 42px;
	cursor: pointer;
	padding: 0;

	margin-top: 24px;
	margin-bottom: auto;
	align-self: flex-start;
	flex-grow: 1;

	p {
		font-weight: 600;
	}
}
