@import '../../../styles/imports';

.container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
	.button {
		cursor: pointer;
		h6 {
			color: dodgerblue;
			&:hover {
				@include desktop {
					text-decoration-line: underline;
				}
			}
		}
	}
}

.items {
	display: grid;
	@include desktop {
		grid-template-columns: 1fr 1fr 1fr;
	}
	gap: 0.5rem;
}

.item {
	border: 1px solid whitesmoke;
	padding: 1rem;
	background-color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 100%;
	}
}
