@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.fluid {
  padding-right: 16px;
  padding-left: 16px;
}

.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shadow {
  -webkit-box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
          box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
}

.curved {
  border-radius: 4px;
}

.rounded {
  border-radius: 8px;
}

.round {
  border-radius: 30px;
}

.alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justifyCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justifyStart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justifyEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 0;
}

.card .main .images .left img, .card .main .images .smallRight img, .card .main .images .right img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 1008px) {
  .card .main .images .left img, .card .main .images .smallRight img, .card .main .images .right img {
    height: 400px;
  }
}

.card {
  margin: 16px 0;
}

.card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .title a {
  color: #03989e;
  padding: 0;
  font-weight: 600;
  font-size: 0.9rem;
}

.card .title p {
  margin: 0;
  padding: 0;
  margin: 0 4px;
  font-weight: 500;
  font-size: 0.9rem;
}

.card .main {
  margin: 0.5rem 0;
}

.card .main .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 8px;
}

.card .main .images .left {
  width: 100%;
}

.card .main .images .smallRight {
  width: 50%;
  height: 300px;
}

@media (min-width: 1008px) {
  .card .main .images .smallRight {
    height: 400px;
  }
}

.card .main .images .smallRight img {
  height: 148px;
}

@media (min-width: 1008px) {
  .card .main .images .smallRight img {
    height: 198px;
  }
}

.card .main .images .right {
  width: 100%;
}
/*# sourceMappingURL=Activities.module.css.map */