@import '../../../styles/imports';

.container {
	margin: 2rem 0;
	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		@include tab {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@include desktop {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.card {
			cursor: pointer;
			padding: 1rem;
			min-height: 150px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			border: 2px solid #eee;
			border-radius: 8px;
			padding-bottom: 0.5rem;
			@include hover {
				background-color: whitesmoke;
			}
			img {
				width: 32px;
				height: 32px;
				object-fit: contain;
				margin-bottom: 1rem;
			}
			p {
				margin: 0;
				padding: 0;
				line-height: 1.4;
				font-size: 1rem;
				font-weight: 600;
				text-transform: capitalize;
			}
			span {
				font-size: 0.75rem;
				font-weight: 700;
				color: $color-primary;
			}
		}
	}
}
