.ph-2 {
	padding-left: 2px;
	padding-right: 2px;
}
.ph-4 {
	padding-left: 4px;
	padding-right: 2px;
}
.ph-8 {
	padding-left: 8px;
	padding-right: 8px;
}
.ph-12 {
	padding-left: 12px;
	padding-right: 12px;
}
.ph-16 {
	padding-left: 16px;
	padding-right: 16px;
}
.ph-24 {
	padding-left: 24px;
	padding-right: 24px;
}
.ph-32 {
	padding-left: 32px;
	padding-right: 32px;
}
.ph-44 {
	padding-left: 44px;
	padding-right: 44px;
}
.ph-50 {
	padding-left: 50px;
	padding-right: 50px;
}
.ph-64 {
	padding-left: 64px;
	padding-right: 64px;
}

.ph-128 {
	padding-left: 128px;
	padding-right: 128px;
}
