.pr-2 {
	padding-right: 2px;
}
.pr-4 {
	padding-right: 4px;
}
.pr-8 {
	padding-right: 8px;
}
.pr-12 {
	padding-right: 12px;
}
.pr-16 {
	padding-right: 16px;
}
.pr-24 {
	padding-right: 24px;
}
.pr-32 {
	padding-right: 32px;
}
.pr-44 {
	padding-right: 44px;
}
.pr-50 {
	padding-right: 50px;
}
.pr-64 {
	padding-right: 64px;
}

.pr-128 {
	padding-right: 128px;
}
