.pl-2 {
	padding-left: 2px;
}
.pl-4 {
	padding-left: 4px;
}
.pl-8 {
	padding-left: 8px;
}
.pl-12 {
	padding-left: 12px;
}
.pl-16 {
	padding-left: 16px;
}
.pl-24 {
	padding-left: 24px;
}
.pl-32 {
	padding-left: 32px;
}
.pl-44 {
	padding-left: 44px;
}
.pl-50 {
	padding-left: 50px;
}
.pl-64 {
	padding-left: 64px;
}

.pl-128 {
	padding-left: 128px;
}
