@import '../../../styles/imports';

.footer {
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
}

.disclaimer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
	margin-left: 16px;
	margin-right: 16px;
	p {
		font-size: 11px;
		text-align: center;
		line-height: 16px;
		letter-spacing: 1px;

		@include desktop {
			font-size: 12px;
			letter-spacing: 2px;
		}
	}
}

.container {
	display: flex;
	background-color: whitesmoke;
	padding: 32px 16px;
	flex-direction: column;
	margin-top: 24px;
	@include desktop {
		margin-top: 32px;
	}
	@include desktop {
		flex-direction: row;
		padding: 64px 144px;
	}
	.address {
		flex: 1;
	}
	.links {
		flex: 2;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		@include desktop {
			justify-content: flex-end;
			gap: 4rem;
		}
	}
}

.section {
	margin: 1rem 0;
	margin-right: 32px;

	h6 {
		margin-bottom: 0.5rem;
		@include desktop {
			font-size: 1.1rem;
			margin-bottom: 1rem;
		}
	}
}

.item {
	margin-bottom: 0.5rem;
	a {
		color: #424242;
		font-size: 0.9rem;
	}
	@include desktop {
		margin-bottom: 0.75em;
	}
}
