@import '../../../styles/imports';

.container {
	.cards {
		margin: 3rem 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;
		.card {
			background-color: whitesmoke;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 1.5rem 1rem;
			padding-top: 3rem;
			@include tab {
				padding: 2rem 1.5rem;
				padding-top: 3rem;
			}
			border-radius: 4px;
			.details {
				padding: 1rem 0rem;
				@include tab {
					padding: 1rem 3rem;
				}
				max-width: 450px;
				h5 {
					margin-bottom: 0.25rem;
				}
			}
		}
	}
}
