@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.fluid {
  padding-right: 16px;
  padding-left: 16px;
}

.horizontal {
  flex-direction: row;
}

.shadow {
  box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
}

.curved {
  border-radius: 4px;
}

.rounded {
  border-radius: 8px;
}

.round {
  border-radius: 30px;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 0;
}
@media (min-width: 1008px) {
  .container {
    flex-direction: row;
  }
}
.container .image {
  height: 150px;
  width: 150px;
  border-radius: 999px;
}
.container .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 99px;
}
.container .description {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}
@media (min-width: 1008px) {
  .container .description {
    width: 50%;
    align-items: flex-start;
    text-align: left;
  }
}
.container .description h5 {
  cursor: pointer;
}
.container .description h5:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.container .description .tag {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  background-color: #eef0f3;
  border-radius: 4px;
  margin-bottom: 0.2rem;
}
.container .description .tag p {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
.container .description p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 2px 0 8px 0;
}
.container .description a {
  font-size: 0.9rem;
  color: dodgerblue;
  font-weight: 800;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 0;
  width: 100%;
}
.home .image {
  height: 100px;
  width: 100px;
}
.home .image img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 999px;
}
.home .description {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  text-align: left;
}
@media (min-width: 1008px) {
  .home .description {
    width: 50%;
  }
}
.home .description h5 {
  font-size: 1.2rem;
  line-height: 1.5;
  cursor: pointer;
}
@media (min-width: 1008px) {
  .home .description h5 {
    font-size: 1.5rem;
  }
}
.home .description h5:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.home .description .tag {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  background-color: #eef0f3;
  border-radius: 4px;
  margin-bottom: 0.2rem;
}
.home .description .tag p {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
.home .description p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 2px 0 8px 0;
}
.home .description a {
  font-size: 0.9rem;
  color: dodgerblue;
  font-weight: 800;
}/*# sourceMappingURL=BusinessCard.module.css.map */