@import '../../../styles/imports';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	margin: 1rem 0;
	@include desktop {
		flex-direction: row;
	}
	.image {
		height: 150px;
		width: 150px;
		border-radius: 999px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 99px;
		}
	}
	.description {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		text-align: center;
		@include desktop {
			width: 50%;
			align-items: flex-start;
			text-align: left;
		}
		h5 {
			cursor: pointer;
			&:hover {
				text-decoration-line: underline;
			}
		}
		.tag {
			display: inline-flex;
			padding: 0.25rem 0.5rem;
			background-color: $color-light;
			border-radius: 4px;
			margin-bottom: 0.2rem;
			p {
				font-size: 0.7rem;
				font-weight: 700;
				line-height: 1.5;
				margin: 0;
			}
		}
		p {
			font-size: 0.9rem;
			font-weight: 500;
			line-height: 1.5;
			margin: 2px 0 8px 0;
		}
		a {
			font-size: 0.9rem;
			color: dodgerblue;
			font-weight: 800;
		}
	}
}
