@import '../../../styles/imports';

.container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin-top: 64px;
	@include desktop {
		margin-top: 32px;
	}

	.cards {
		display: flex;
		gap: 8px;
		align-items: flex-start;
		//margin: 16px 0;
		//flex-wrap: wrap;
		overflow: auto;
		align-items: stretch;
		white-space: nowrap;
		scroll-behavior: smooth;
		padding: 16px 32px 32px 32px;
		margin-right: -32px;
		margin-left: -32px;
		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */

		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		@include desktop {
			margin-right: 0;
			margin-left: 0;
			padding: 16px 0 32px 0;
		}
		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: whitesmoke;
			padding: 16px;
			min-width: 80px;
			height: 100px;
			border-radius: 16px;
			cursor: pointer;
			transition: 0.2s;
			text-align: center;

			&:hover {
				transform: scale(1.2);
				background-color: white;
				box-shadow: $shadow;
			}

			img {
				width: 20px;
				height: auto;
				object-fit: contain;
				margin-bottom: 8px;
			}
			@include desktop {
				min-width: 100px;
				min-height: 140px;
				padding-top: 32px;

				img {
					margin-bottom: 16px;
				}
			}
			p {
				font-size: 0.6rem;
				font-weight: 600;
				@include desktop {
					font-size: 0.75rem;
					margin-bottom: 16px;
				}
			}
		}
	}
}
