@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.fluid {
  padding-right: 16px;
  padding-left: 16px;
}

.horizontal {
  flex-direction: row;
}

.shadow {
  box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
}

.curved {
  border-radius: 4px;
}

.rounded {
  border-radius: 8px;
}

.round {
  border-radius: 30px;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.top {
  background-color: white;
  box-shadow: none;
  padding: 16px;
  margin: -16px -16px 0 -16px;
}
@media (min-width: 1008px) {
  .top {
    margin: 0 0 0 0;
    box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
    border-radius: 8px;
    padding: 32px;
  }
}
.top .title {
  margin-bottom: 0.5rem;
}
.top .title p {
  color: #b1b1b1;
  font-size: 0.8rem;
  font-weight: 600;
  max-width: 400px;
  line-height: 1.4;
}

.container {
  background-color: white;
  box-shadow: none;
  padding: 16px;
  margin: 8px -16px 0 -16px;
}
@media (min-width: 1008px) {
  .container {
    margin: 16px 0 0 0;
    box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
    border-radius: 8px;
    padding: 32px;
  }
}
.container .title {
  margin-bottom: 0.5rem;
}
.container .title p {
  color: #b1b1b1;
  font-size: 0.8rem;
  font-weight: 600;
  max-width: 400px;
  line-height: 1.4;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media (min-width: 1008px) {
  .item {
    margin-bottom: 1.5rem;
  }
}
.item .title {
  flex: 1;
  margin-bottom: 0.5rem;
}
.item .title h6 {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
@media (min-width: 1008px) {
  .item .title {
    margin-bottom: 0;
  }
}
.item .value {
  flex: 3;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}
.item a {
  color: dodgerblue;
  font-weight: 500;
}
.item p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item p img {
  width: 16px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.5rem;
}
@media (min-width: 1008px) {
  .item {
    flex-direction: row;
  }
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 1rem;
}
@media (min-width: 1008px) {
  .list {
    width: 30%;
  }
}
.list img {
  width: 18px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.5rem;
}
.list p {
  font-size: 0.9rem;
  font-weight: 500;
}
@media (min-width: 1008px) {
  .list p {
    font-size: 1rem;
  }
}

.sectionInputs {
  margin: 1rem 0;
  width: 100%;
}
@media (min-width: 1008px) {
  .sectionInputs {
    width: 50%;
  }
}

.sectionOneThird {
  margin: 1rem 0;
  width: 100%;
}
@media (min-width: 1008px) {
  .sectionOneThird {
    width: 70%;
  }
}/*# sourceMappingURL=Section.module.css.map */