//@at-root
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

//$color-primary: #363062;
$color-primary: #03989e;
$color-secondary: #4d4c7d;
$color-light: #eef0f3;
$color-bg: #faf9fb;
$color-text: #424242;
$color-text-inv: #f5f5f5;
$color-text-inv-light: rgba(#f5f5f5, 0.5);
$color-link: #1e90ff;
$color-border: rgba(#483d8b, 0.1);
$color-danger: #ff3152;
$shadow-primary: 0 22px 40px rgba(#483d8b, 0.12);
$color-success: #00ff99;
$container-radius: 8px;
$color-input: #eeecec;
// $color-input-border: rgba(#827397, 0.6);
$color-input-border: transparent;
$shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);

@import './utilities/mixin';
@import './utilities/partials';
@import './utilities/utilclasses';
