@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.fluid {
  padding-right: 16px;
  padding-left: 16px;
}

.horizontal {
  flex-direction: row;
}

.shadow {
  box-shadow: 0px 4px 25px rgba(153, 140, 140, 0.1);
}

.curved {
  border-radius: 4px;
}

.rounded {
  border-radius: 8px;
}

.round {
  border-radius: 30px;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.ma-2 {
  margin: 2px 2px;
}

.ma-4 {
  margin: 4px 4px;
}

.ma-8 {
  margin: 8px 8px;
}

.ma-12 {
  margin: 12px 12px;
}

.ma-16 {
  margin: 16px 16px;
}

.ma-24 {
  margin: 24px 24px;
}

.ma-32 {
  margin: 32px 32px;
}

.ma-44 {
  margin: 44px 44px;
}

.ma-50 {
  margin: 50px 50px;
}

.ma-64 {
  margin: 64px 64px;
}

.ma-128 {
  margin: 128px 128px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-44 {
  margin-bottom: 44px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-128 {
  margin-bottom: 128px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-128 {
  margin-top: 128px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-44 {
  margin-left: 44px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-64 {
  margin-left: 64px;
}

.ml-128 {
  margin-left: 128px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-44 {
  margin-right: 44px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-64 {
  margin-right: 64px;
}

.mr-128 {
  margin-right: 128px;
}

.mh-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mh-4 {
  margin-left: 4px;
  margin-right: 2px;
}

.mh-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mh-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mh-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mh-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mh-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mh-44 {
  margin-left: 44px;
  margin-right: 44px;
}

.mh-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mh-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.mh-128 {
  margin-left: 128px;
  margin-right: 128px;
}

.mv-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mv-4 {
  margin-top: 4px;
  margin-bottom: 2px;
}

.mv-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mv-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mv-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mv-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mv-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mv-44 {
  margin-top: 44px;
  margin-bottom: 44px;
}

.mv-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mv-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mv-128 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-44 {
  padding-bottom: 44px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-128 {
  padding-bottom: 128px;
}

.pr-2 {
  padding-right: 2px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-32 {
  padding-right: 32px;
}

.pr-44 {
  padding-right: 44px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-64 {
  padding-right: 64px;
}

.pr-128 {
  padding-right: 128px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-44 {
  padding-top: 44px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-128 {
  padding-top: 128px;
}

.pl-2 {
  padding-left: 2px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-32 {
  padding-left: 32px;
}

.pl-44 {
  padding-left: 44px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-64 {
  padding-left: 64px;
}

.pl-128 {
  padding-left: 128px;
}

.ph-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.ph-4 {
  padding-left: 4px;
  padding-right: 2px;
}

.ph-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.ph-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.ph-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.ph-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.ph-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.ph-44 {
  padding-left: 44px;
  padding-right: 44px;
}

.ph-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.ph-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.ph-128 {
  padding-left: 128px;
  padding-right: 128px;
}

.pv-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pv-4 {
  padding-top: 4px;
  padding-bottom: 2px;
}

.pv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pv-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pv-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pv-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pv-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pv-44 {
  padding-top: 44px;
  padding-bottom: 44px;
}

.pv-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pv-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pv-128 {
  padding-top: 128px;
  padding-bottom: 128px;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 1008px) {
  a:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}

* {
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: #424242;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 640px) {
  p {
    font-size: 16px;
  }
}

h1 {
  font-size: 2rem !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 3rem;
  color: #424242;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 1008px) {
  h1 {
    font-size: 4rem !important;
    line-height: 6rem;
  }
}

h2 {
  font-size: 1.75rem !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 2.625rem !important;
  color: #424242;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 1008px) {
  h2 {
    font-size: 3rem !important;
    line-height: 4.5rem;
  }
}

h3 {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  margin: 0;
  padding: 0;
  line-height: 2.25rem;
  color: #424242;
  font-family: "Montserrat", sans-serif !important;
}
@media (min-width: 1008px) {
  h3 {
    font-size: 2rem !important;
    line-height: 3.75rem;
  }
}

h4 {
  font-size: 2rem !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 3rem;
  color: #424242;
  font-family: "Montserrat", sans-serif !important;
}

h5 {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  margin: 0;
  padding: 0;
  line-height: 1.5 !important;
  color: #424242;
  font-family: "Montserrat", sans-serif !important;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  color: #424242;
  font-family: "Montserrat", sans-serif;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #424242;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=styles.css.map */